body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #dd830f;
}

span a {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
  opacity: 0.8;
}

.home-logo {
  margin: 10px auto;
}

.home-menu {
  margin-bottom: 30px;
}

.home-menu ul {
  list-style: none;
}

.home-menu .navbar {
  padding: 0;
}

.home-menu .navbar .nav-item {
  padding: 0px 3px;
}

.home-menu .menu-background-first {
  background: #0b6c18;
  position: relative;
}

.home-menu .menu-background-first a {
  margin: 0 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.home-menu .menu-background-first a:hover {
  color: #dd830f;
}

.home-menu .menu-background-first .menu-item-second {
  background: #d9ae39;
}

.home-menu .menu-background-first .menu-item-second a {
  color: #000000;
}

.home-menu .menu-background-first .menu-item-second a:hover {
  color: #ffffff;
}

.home-menu .menu-background-first .fa-search {
  color: #d9ae39;
  cursor: pointer;
  width: 25px;
  width: 30px;
  padding: 0 10px;
}

.home-menu .menu-background-first .menu-search {
  display: none;
  position: absolute;
  background: #FFD68f;
  z-index: 4;
  width: 100%;
  padding: 20px 30px;
  top: 37px;
}

.home-menu .menu-background-first .inphut-search {
  width: 100%;
  border: none;
  height: 30px;
  border-radius: 35px;
  position: relative;
}

.home-menu .menu-background-first .search-icon {
  position: absolute;
  color: #ffffff;
  font-size: 21px;
  right: 25px;
  top: 17px;
  background: #0b6c18;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 7px;
}

.home-menu .menu-item-third {
  position: relative;
}

.home-menu .menu-item-third:hover .menu-item-third-list {
  display: block;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-menu .menu-item-third-list {
  display: none;
  z-index: 4;
  width: 190px;
  padding: 0;
  border: 1px solid #ccc;
  position: absolute;
  border: 1px solid #ccc;
  background: #ffffff;
}

.home-menu .menu-item-third-list li {
  border-bottom: 1px solid #ccc;
  color: #000000;
}

.home-menu .menu-item-third-list li:hover {
  background: #f5f5f5;
}

.home-menu .menu-item-third-list li + li {
  border-bottom: none;
}

.home-menu .menu-item-third-list a {
  color: #000000;
}

.home-menu .menu-item-third-list a:hover {
  color: #000000;
}

.home-menu .menu-background-second {
  background: #d9ae39;
}

.home-menu .menu-background-second a {
  color: #000000;
  font-weight: 700;
}

.home-menu .menu-background-second a:hover {
  color: #ffffff;
}

.product-item-left img {
  padding-bottom: 10px;
  aspect-ratio: 16/11.5;
  object-fit: cover;
}

.product-item-left a {
  font-size: 16px;
}

.product-item-left p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-item-left + .product-item-left {
  margin-top: 20px;
}

.new-product-col-second img {
  padding-bottom: 10px;
}

.new-product-col-second a {
  font-size: 18px;
  font-weight: 700;
}

.new-product-col-second p {
  font-size: 15px;
  padding-top: 20px;
}

.new-product-third-item {
  display: flex;
}

.new-product-third-item a {
  width: 100%;
}

.new-product-third-item img {
  aspect-ratio: 5/3;
  object-fit: cover;
}

.new-product-third-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 65px;
  padding-left: 10px;
}

.new-product-third-item + .new-product-third-item {
  margin-top: 15px;
}

.home-new-product-second {
  margin-top: 30px;
}

.product-second-container {
  background: #0b6c18;
  padding-top: 15px;
}

.product-second-container .second-container-title {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.product-second-container .second-container-title:hover {
  text-decoration: none;
  color: #dd830f;
}

.product-second-container .product-item-left {
  padding-top: 20px;
}

.product-second-container .product-item-left a {
  color: #ffffff;
}

.product-second-container .product-item-left a:hover {
  color: #dd830f;
}

.product-second-container .product-item-left + .product-item-left {
  margin-top: 0;
}

.medicine-title {
  position: relative;
  margin-bottom: 15px;
}

.medicine-title a {
  font-size: 20px;
  color: #0c6b18 !important;
  text-transform: uppercase;
}

.medicine-title::after {
  content: '';
  background: url(../images/icon/bg-title.jpg) repeat-x;
  width: 72%;
  height: 50px;
  position: absolute;
  left: 28%;
  top: 35%;
}

.home-new-product-third {
  margin-top: 55px;
}

.home-new-product-third .product-item-left p {
  -webkit-line-clamp: 2;
}

.home-new-product-third .medicine-title-second::after {
  content: '';
  width: 87%;
  left: 13%;
}

.home-new-product-third .medicine-title-third::after {
  content: '';
  width: 71%;
  left: 29%;
}

.home-new-product-third .medicine-title-four::after {
  content: '';
  width: 80%;
  left: 20%;
}

.home-new-product-third .medicine-title-five::after {
  content: '';
  width: 79%;
  left: 21%;
}

.home-new-product-third .product-medicine ul {
  background: #f2f2f2;
}

.home-new-product-third .product-medicine li {
  border-bottom-style: dashed;
  border-bottom-color: #afafaf;
  border-bottom-width: 1px;
  padding: 15px 10px 15px 0;
}

.home-new-product-third .product-medicine li::marker {
  color: #0b6c18;
}

.home-new-product-third .product-medicine .bottom-li {
  border-bottom-style: none;
}

.home-new-product-third .new-product-third-col-first {
  padding-top: 20px;
}

.home-new-product-third .new-product-third-col-second p {
  margin: 0;
}

.home-new-product-third .new-product-third-col-second .new-product-third-col-second-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.home-new-product-third .new-product-third-col-second .new-product-third-item-first {
  margin-top: 20px;
}

.home-new-product-third .new-product-third-col-second .new-product-third-item {
  padding-top: 10px;
  border-top-style: dashed;
  border-top-color: #afafaf;
  border-top-width: 1px;
}

.home-new-product-third .new-product-third-col-second .new-product-third-col-second-img {
  aspect-ratio: 4/3.5;
  padding: 1px;
  object-fit: cover;
  margin-bottom: 10px;
}

.home-new-product-third .new-product-third-col-second .new-product-third-item + p {
  margin-bottom: 30px;
}

.home-question {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #6e3910;
  padding: 25px 0;
}

.home-question .question-title {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.home-question .product-item-left a {
  color: #ffffff !important;
}

.home-question .question-col-third ul {
  background: #ffffff;
  padding-right: 10px;
}

.home-question .question-col-third li {
  padding: 10px 0 20px 0;
  border-bottom-style: dashed;
  border-bottom-color: #afafaf;
  border-bottom-width: 1px;
}

.home-question .question-col-third .bottom-li {
  border-bottom-style: none;
}

.home-question .question-col-third a {
  font-size: 14px;
  font-weight: 400;
}

.home-new-footer {
  padding-bottom: 30px;
}

.home-new-footer .new-footer-row-first {
  margin-bottom: 15px;
}

.home-new-footer .new-footer-row-first a {
  font-size: 18px;
}

.home-new-footer .new-product-third-col-second-title {
  font-size: 20px;
  text-transform: uppercase;
}

.home-new-footer .new-product-third-col-second-img {
  padding: 1px;
  aspect-ratio: 2/1.7;
  object-fit: cover;
  margin-bottom: 15px;
}

.home-new-footer .new-product-third-item-first {
  margin-top: 20px;
}

.home-new-footer .new-product-third-item {
  border-top-style: dashed;
  border-top-color: #afafaf;
  border-top-width: 1px;
  padding-top: 10px;
}

.footer-list-category {
  background: #eaeaea;
}

.footer-list-category ul {
  list-style: none;
  padding-left: 15px;
}

.footer-list-category li {
  padding: 10px 5px;
  position: relative;
}

.footer-list-category li a {
  font-weight: 400;
}

.footer-list-category li a:hover {
  color: #00af91;
}

.footer-list-category li::before {
  content: '\f105';
  font-family: 'FontAwesome';
  position: absolute;
  left: -15px;
}

.footer-list-category p {
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #00af91;
}

.footer {
  padding-top: 20px;
}

.footer .footer-adress {
  margin: 15px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  padding: 16px 5px;
  position: relative;
}

.footer li a {
  font-weight: 400;
}

.footer li::before {
  content: '-';
  font-family: 'FontAwesome';
  position: absolute;
  left: -15px;
}

.footer h5 {
  text-transform: uppercase;
}

.footer .form-register {
  position: relative;
}

.footer .form-register .email-footer {
  width: 85%;
  height: 40px;
}

.footer .form-register button {
  position: absolute;
  width: 50px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  background: #0C6B18;
  border: none;
  border-radius: 3px;
  right: 11px;
}

.footer .form-register p {
  margin-top: 10px;
}

.footer .footer-icon-list {
  display: flex;
}

.footer .footer-icon-list li {
  width: 40px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
}

.footer .footer-icon-list li::before {
  content: '';
}

.footer .footer-icon-list li:hover {
  border: 1px solid #b14241;
}

.footer .footer-icon-list li:hover a {
  color: #b14241;
}

.footer .footer-icon-list .icon-insta {
  padding: 10px 14px;
}

.footer .footer-icon-list .icon-you,
.footer .footer-icon-list .icon-twit,
.footer .footer-icon-list .icon-print {
  padding: 10px 13px;
}

.copright {
  background: #0b6c18;
  color: #ffffff;
  padding: 10px 0;
}

.copright p {
  margin: 0;
  padding: 5px 0;
}

.copright p span {
  color: #ffd563;
}

ul {
  list-style: none;
}

.benh-title h1 {
  color: #0b6c18;
  font-weight: 700;
  font-size: 35px;
}

.benh-title hr {
  border: 1px solid #0b6c18;
}

.new-title {
  display: flex;
  border-bottom-style: dashed;
  border-bottom-color: #afafaf;
  border-bottom-width: 1px;
}

.new-title .title {
  width: 14%;
}

.new-title .title a {
  font-size: 18px;
  color: #dd830f;
}

.new-title .title a:hover {
  color: #d9ae39;
}

.new-title ul {
  display: flex;
  flex-wrap: wrap;
}

.new-title ul li {
  padding-left: 9px;
}

.new-title ul li a {
  color: #0b6c18;
  font-weight: 400;
}

.new-title ul li a:hover {
  color: #d9ae39;
}

.new-title ul .list-item-bottom {
  position: relative;
}

.new-title ul .list-item-bottom a {
  color: #000000;
  font-weight: 700;
}

.new-title ul .list-item-bottom i {
  border: 1px solid #ccc;
  padding: 0 5px;
  color: #0b6c18;
}

.benh-new-item-first {
  margin-top: 15px;
}

.benh-new-item-first img {
  aspect-ratio: 16/11.5;
  object-fit: cover;
}

.benh-new-item-first .benh-item + .benh-item {
  margin-bottom: 15px;
}

.benh-new-item-second {
  margin-top: 15px;
}

.benh-new-item-second .new-item-second {
  border-bottom-style: dashed;
  border-bottom-color: #afafaf;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

.benh-new-item-second a {
  font-size: 16px;
  font-weight: 700;
}

.benh-new-item-second .item-second-title {
  padding: 0;
  margin-bottom: 5px;
}

.benh-new-item-second p + p {
  color: #ccc;
}

.benh-new-item-second ul {
  list-style: square;
}

.benh-new-item-second ul li {
  border-bottom-style: dashed;
  border-bottom-color: #afafaf;
  border-bottom-width: 1px;
  padding: 20px 0;
}

.benh-new-item-second ul li a {
  font-size: 15px;
  font-weight: 400;
}

.benh-new-item-second ul li::marker {
  color: #0b6c18;
}

.benh-new-item-second ul .new-item-list-bottom {
  border-bottom-style: none;
}

.row-second {
  padding-top: 20px;
}

.row-second-first .title a {
  font-size: 18px;
}

.row-second-first p {
  color: #ccc;
}

.row-second-second .item {
  display: flex;
  margin-bottom: 15px;
}

.row-second-second .item img {
  padding-right: 10px;
  aspect-ratio: 4/2;
  object-fit: cover;
}

.row-second-third ul {
  list-style: square;
}

.row-second-third ul li {
  border-bottom-style: dashed;
  border-bottom-color: #afafaf;
  border-bottom-width: 1px;
  padding: 10px 0 20px 0;
}

.row-second-third ul li a {
  font-size: 15px;
  font-weight: 400;
}

.row-second-third ul .new-item-list-bottom {
  border-bottom-style: none;
}

.new-title-third .title {
  width: 40%;
}

/*# sourceMappingURL=maps/style.css.map */
